.btn {
  border: 2px;
  border-radius: 50%;
}
// indexアクション
.container-fluid {
  position: relative;

  & .row {
    margin: 0 auto;

    & .aaa {
      padding: 1%;
      max-width: 250px;
      & .aa {
        background-color: white;

        & .element {
          // position:relative;
          display: inline-block;
          // margin: 10px 2px;
          padding: 0;
          // margin: 10px 10px;
          width: 100%;
          text-decoration: none;

          & .texts {
            padding: 2% 4%;

            & .img-fluid {
              width: 100%;
            }

            & .text {
              color: rgb(60, 60, 60);
              font-size: 2%;
            }
          }

          & .user-name {
            margin-right: 10%;
          }
        }
      }
    }
  }
}

// newアクション

.container {
  position: relative;
  & .form {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    & .field {
      width: 400px;

      &.fa-image:before {
        cursor: pointer;
      }
    }

    & .hoge {
      display: none;
    }

    .fa-image {
      font-size: 20em;
    }
    & .text-field {
      height: 200px;
    }
  }
  .row {
    .ele {
      margin: 0 auto;
      background-color: white;
    }
  }
}

.bb {
  position: fixed;
  right: -14px;
  bottom: -14px;
  text-align: center;
  z-index: 2;
  @media (min-width: 600px) {
    bottom: 32px;
    font-size: 37px;
    height: 160px;
    right: 32px;
    width: 160px;
  }
  .post-btn {
    text-decoration: none;
    display: block;
    .btn-chars {
      padding-top: 15px;
      text-align: center;
      height: 80px;
      width: 80px;
      background-color: orange;
      border-radius: 50%;
      color: white;
      @media (min-width: 600px) {
        width: 160px;
        height: 160px;
        padding-top: 32px;
        
        & .fas {
          max-width: 100%;
          max-height: 100%;
          // color: rgb(255, 255, 255);
          display: block;
          height: 24px;
          width: 26px;
          margin: 5px auto 0px;
          @media (min-width: 600px) {
            margin-top: 0;
            width: 60px;
            height: 54px;
          }
        }
      }
    }
  }
}


// .post-btn {
//   width: 20%;
//   height: 0;
//   right: 5%;
//   bottom: 15%;
//   position: fixed;
//   background-color: orange;
//   padding-top: 20%;
//   border-radius: 50%;
//   color: white;
//   z-index: 100;
//   // text-align:center;
//   // text-decoration:none;

//   & .btn-chars {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 100%;
//     @media (min-width: 600px) {
//       font-size: 35px;
//     }
//     @media (min-width: 1000px) {
//       font-size: 60px;
//     }

//     & .fas {
//       display: block;
//       text-align: center;
//     }
//   }
// }