@import "modules/post";
@import "modules/button";
@import "modules/title";

.post {
  &__texts {
    overflow-wrap: break-word;
  }

  &__url {
    font-weight: bold;
    color: orange;
    &:hover {
      color: orange;
    }
  }
}
