.container-fluid {
  // position: relative;
  & .row {
    max-width: 1000px;
    margin: 0 auto;
    & .post {
      padding: 1%;
      max-width: 250px;
      &__item {
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      }

      &__elements {
        display: inline-block;
        padding: 0;
        width: 100%;
        text-decoration: none;
      }

      &__img {
        width: 100%;
      }
      
      &__likes {
        color:red;
        float:right;
      }

      &__texts {
        padding: 2% 4%;
      }

      &__text {
        color: rgb(60, 60, 60);
        font-size: 2%;
      }
    }
  }
}
